<?xml version="1.0"?>
<!--

 CedCommerce

 NOTICE OF LICENSE

 This source file is subject to the End User License Agreement (EULA)
 that is bundled with this package in the file LICENSE.txt.
 It is also available through the world-wide-web at this URL:
 https://cedcommerce.com/license-agreement.txt

 @author    CedCommerce Core Team <connect@cedcommerce.com>
 @copyright Copyright CEDCOMMERCE (https://cedcommerce.com/)
 @license   https://cedcommerce.com/license-agreement.txt

-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add id="Ced_GroupBuying::GroupBuying" title="Group Buying" module="Ced_GroupBuying"
             sortOrder="50" resource="Ced_GroupBuying::group_buying_grid" />
        <add id="Ced_GroupBuying::group_buying_grid" title="Manage Groups"
             module="Ced_GroupBuying" sortOrder="40" parent="Ced_GroupBuying::GroupBuying"
             action="groupbuying/groupbuyinggrid/index" resource="Ced_GroupBuying::group_buying_grid" />
        <add id="Ced_GroupBuying::groupbuying_settings" title="Settings"
             module="Ced_GroupBuying" sortOrder="80" parent="Ced_GroupBuying::GroupBuying"
             action="admin/system_config/edit/section/groupbuyingsection" resource="Ced_GroupBuying::groupbuying_settings" />
    </menu>
</config>
