<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category   Webkul
 * @package    Webkul_Recurring
 * @author     Webkul Software Private Limited
 * @copyright  Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license    https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webkul" translate="label" sortOrder="10">
            <label>Webkul</label>
        </tab>
        <section id="recurring" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Subscription Configuration</label>
            <!-- Assign section to tab -->
            <tab>webkul</tab>
            <resource>Webkul_Recurring::config_recurring</resource>
            <!-- create group for fields in section -->
            <group id="general_settings" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="price_scope" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Subscription Price Scope</label>
                    <source_model>Webkul\Recurring\Model\Config\Source\Scope</source_model>
                    <config_path>recurring/general_settings/price_scope</config_path>
                </field>
                <field id="enable_discount" translate="label comment" sortOrder="15" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Discount on Subscriptions</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set as 'Yes', the discount will be applied on the subscription order</comment>
                </field>
                <field id="enable_multisubscription" translate="label comment" sortOrder="20" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allow Multiple Subscriptions in Cart</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If set as 'Yes', multiple subscription products can be added to cart at a time, if their 'Start dates' and 'Duration types' are same.</comment>
                </field>
                <field id="allowedpaymentmethods" translate="label comment" type="multiselect" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Allowed payment methods to buy subscription</label>
                    <source_model>Webkul\Recurring\Model\Config\Source\PaymentMethod</source_model>
                    <validate>required-entry</validate>
                </field>
            </group>
        </section>
        <section id="payment">
            <group id="recurringpaypal" translate="label" type="text" sortOrder="36" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Webkul Recurring PayPal Express Checkout Payment Method</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable this Solution</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/recurringpaypal/active</config_path>
                </field>

                <field id="sandbox" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/recurringpaypal/sandbox</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="title" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                    <config_path>payment/recurringpaypal/title</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="merchant_id" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Merchant PayPal ID</label>
                    <validate>required-entry</validate>
                    <config_path>payment/recurringpaypal/merchant_id</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="api_username" translate="label" type="obscure" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PayPal API User Name</label>
                    <validate>required-entry</validate>
                    <config_path>payment/recurringpaypal/api_username</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="api_password" translate="label" type="obscure" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PayPal API Password</label>
                    <validate>required-entry</validate>
                    <config_path>payment/recurringpaypal/api_password</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="api_signature" translate="label" type="obscure" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PayPal API Signature</label>
                    <validate>required-entry</validate>
                    <config_path>payment/recurringpaypal/api_signature</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    <config_path>payment/recurringpaypal/allowspecific</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="allowspecific">1</field>
                    </depends>
                    <config_path>payment/recurringpaypal/specificcountry</config_path>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                    <config_path>payment/recurringpaypal/sort_order</config_path>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>
            </group>
            <group id="recurringstripe" translate="label" type="text" sortOrder="38" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[Webkul Recurring Stripe Payment Method]]></label>
                        
                    <field id="active" translate="label" type="select" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enable this Solution</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Title</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field> 

                    <field id="sandbox" translate="label" type="select" sortOrder="103" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sandbox Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field>
                     <field id="api_publish_key" translate="label" type="obscure" sortOrder="104" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Publishable Key</label>
                        <validate>required-entry</validate>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field> 

                    <field id="api_secret_key" translate="label" type="obscure" sortOrder="105" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>API Secret Key</label>
                        <validate>required-entry</validate>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field>
                    <field id="name_on_form" translate="label" type="text" sortOrder="107" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Set Name Display on Form</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field>

                    <field id="allowspecific" translate="label" type="allowspecific" sortOrder="112" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Payment from Applicable Countries</label>
                        <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field>

                    <field id="specificcountry" translate="label" type="multiselect" sortOrder="113" showInDefault="1" showInWebsite="1" showInStore="0">
                        <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                        <depends>
                            <field id="allowspecific">1</field>
                        </depends>
                    </field>

                    <field id="min_order_total" translate="label" type="text" sortOrder="115" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Minimum Order Total</label>
                        <comment>$0.50 is the minimum amount allowed by Stripe</comment>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field>

                    <field id="max_order_total" translate="label" type="text" sortOrder="116" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Maximum Order Total</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field>

                    <field id="sort_order" translate="label" type="text" sortOrder="117" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Sort Order</label>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field>

                    <field id="webhook" translate="label comment tooltip" type="button" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
                        <frontend_model>Webkul\Recurring\Block\Adminhtml\System\Config\WebhookButton</frontend_model>
                    </field>
            </group>
        </section>
    </system>
</config>