<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <update id="Knowband_Plugins::knowband_main_menu"
            title="Knowband"
            module="Knowband_Mobileappbuilder"
            sortOrder="9999"
            resource="Knowband_Mobileappbuilder::main"
        />
        <add id="Knowband_Mobileappbuilder::mobileappbuilder_backend_option"
            title="Mobile App Builder"
            module="Knowband_Mobileappbuilder"
            sortOrder="99991"
            resource="Knowband_Mobileappbuilder::mobileappbuilder_backend_option"
            parent="Knowband_Plugins::knowband_main_menu"
        />
        <add id="Knowband_Mobileappbuilder::mobileappbuilder_configuration"
            title="Configuration"
            module="Knowband_Mobileappbuilder"
            sortOrder="1"
            resource="Knowband_Mobileappbuilder::mobileappbuilder_configuration"
            parent="Knowband_Mobileappbuilder::mobileappbuilder_backend_option"
	    action="mobileappbuilderadmin/mobileappbuilder/index"
        />
    </menu>
</config>