<?xml version="1.0"?>
<!--
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category  Ced
 * @package   Ced_CsStorePickup
 * @author    CedCommerce Core Team <connect@cedcommerce.com >
 * @copyright Copyright CEDCOMMERCE (http://cedcommerce.com/)
 * @license      http://cedcommerce.com/license-agreement.txt
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="ced_csmarketplace" >
            <group id="csmultishipping" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                <field id="csstorepickup" translate="label" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Vendor Store Pickup</label>
                    <config_path>ced_csstorepickup/general/active</config_path>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <!-- <source_model>Ced\CsStorePickup\Model\Source</source_model> -->
                    <comment>Before enabling this please enable Store Pickup for admin</comment>
                    <frontend_model>Ced\CsMultiShipping\Block\Adminhtml\System\Config\Frontend\Enable</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
