<?xml version="1.0" encoding="UTF-8"?>
<!--  
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_Gst
 * @author      CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (http://cedcommerce.com/)
 * @license      http://cedcommerce.com/license-agreement.txt
 */

  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="cedcommercegst" sortOrder="1">
            <label>Cedcommerce Extension</label>
        </tab>
        <section id="cedgst" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
        	
        	<tab>cedcommercegst</tab>
            <label>GST</label>
            <resource>Ced_CsGst::cedcommercegst</resource> 
        	<group id="general"  showInDefault="1">
        	<label>Indian GST</label>
                <field id="active" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable GST</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="gstin_no" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>GSTIN Number</label>
                    <validate>validate-length minimum-length-15 maximum-length-15 validate-alphanum</validate>
                </field>
                <field id="warehouse" translate="label" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Warehouse</label>
                    <source_model>Ced\CsGst\Model\Attribute\Source\Region</source_model>
                </field>
            </group>
        </section>
        
        <section id="ced_csmarketplace" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
			<group id="general"  showInDefault="1">
                <field id="csgst" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Vendor Gst </label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
       </section>
	</system>
</config>
