<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="sms_gateway">
            <group id="msg91" translate="label" type="text" sortOrder="1" showInDefault="2" showInWebsite="1" showInStore="0">
                <label>Msg91</label>
                <field id="enable" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Msg91</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="auth_key" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Authorization Key</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="flow_id" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Flow Id</label>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="messaging_priority" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Priority</label>
                    <comment>Please fill-up priority in case of multiple messaging addon.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
