.subscribetocart {
    margin-bottom: 15px;
    margin-right: 1%;
    padding: 14px 17px !important;
    width: 49%;
    background: #228B22 !important;
}
@media only screen and (max-width: 630px){
    .subscribetocart {
        width: 99%;
    }
}.wk-row{
    border-radius: 4px;
    background-color: #f0f0f0;
    margin: 5px;
    padding: 2%;
}.wk-right.select-button{
    text-align: right;
}.wk-terminput-text{
    width: 150px !important;
}.term-plans .modal-header,.term-plans .modal-footer{
    background: #f0f0f0
}#subscription-component{
    display: none;
}._has-datepicker ~ .ui-datepicker-trigger:before {
    color:black;
}.wkstyle {
    margin-left: -30px !important;
}.wkstyle:before{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2.1rem;
    line-height: 32px;
    color: #514943;
    content: '\e627';
    font-family: 'luma-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}.right-container,.left-container {
    display: inline-block;
    width: 49%;
}.right-container {
    text-align: right;
}.wkrequired{
    color:red;
    margin-left: 10px;
}
@media screen and (max-width: 500px){
    .plan-details .right-container, .plan-details .left-container {
        display: block;
        width: 100%;
        text-align: left !important;
    }
    .plan-details .wk-right.select-button button {
        width: 100%;
    }
}